body {
    font-size: 40px;
    background: #f3f3f6;
}

* {
    box-sizing: border-box;
}

.block {
    margin: 5vw;
    height: 50vh;
    box-shadow: 0 0.5vw 3vw #0615633b;
    border-radius: 2vw;
    background: #fff;
}

/* ====================================================== */

.block {
    /* background: #000; */
    background: url(../img/monkey.jpg) 0% 0% / contain no-repeat, url(../img/zebra.webp);
    /* background-image: url(../img/tiger.jpg); */
    /* background-image: radial-gradient(red, blue); */
    /* background-repeat: no-repeat; */
    /* background-position: 80% 50%; */
    /* overflow: auto;
    background-attachment: local; */
    /* background-size: 400px auto; */
}