* {
	box-sizing: border-box;
}

body {
	min-width: 375px;
	margin: 0;
}

.container {
	max-width: 1100px;
	padding: 0 15px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
	gap: 12px;
}

.wrapper {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	min-height: 100vh;
}

.header {
	grid-column: span 12;
	background-color: #f00;
	min-height: 100px;
}

.aside {
	background-color: #e2e20d;
	grid-column: span 2;
}

.main {
	background-color: #31bb0a;
	padding-top: 30px;
	padding-bottom: 30px;
	grid-column: span 10;
}

.article {
	background-color: #de6e05;
	min-height: 300px;
}

.footer {
	background-color: #0b2fe2;
	min-height: 250px;
	grid-column: span 12;
}

@media (width <= 1200px) {
	.aside {
		grid-column: span 3;
	}

	.main {
		grid-column: span 9;
	}
}

@media (width <= 768px) {
	.aside {
		display: none;
	}

	.main {
		grid-column: span 12;
	}

	.container {
		grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
	}
}
