html {
    box-sizing: border-box;
    font-family: sans-serif;
}

#personal-info {
    border: 1px solid #000;
    border-radius: 5px;
    display: inline-block;
    padding: 15px 70px 15px 15px;
    min-width: 200px;
}

#personal-info legend {
    font-weight: 600;
    padding: 0;
    margin-bottom: 10px;
}

#personal-info fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

#personal-data label, #personal-data input, #personal-info textarea {
    display: block;
}

#personal-data input, #personal-info textarea, #personal-info button {
    padding: 4px 10px;
}

#personal-info input, textarea {
    margin-bottom: 5px;
    border-radius: 5px;
}

#personal-data input {
    border: 1px solid #000;
    width: 100%;
}

#personal-info textarea {
    resize: vertical;
    width: 100%;
    min-height: 30px;
    max-height: 60px;
}

#personal-info button {
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

#terms {
    display: inline-block;
    font-size: 0.8em;
    margin-bottom: 4px;
}