.article {
    padding-top: 80px;
    padding-bottom: 120px;
}

.article-title {
    max-width: 596px;
    margin-bottom: 40px;
    font-family: Oswald, sans-serif;
    font-weight: 600;
    line-height: 115%;
    text-transform: uppercase;
    color: #2c332f;
}

.article-title-large {
    font-size: 48px;
}

.article-title-medium {
    font-size: 36px;
}

.article-text {
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #535755;
}

.article-text:last-child {
    margin-bottom: 0;
}

.article-mb-1 {
    margin-bottom: 80px;
}

.article-mb-2 {
    margin-bottom: 40px;
}

.article-decor-wrapper {
    position: relative;
}

.article-decor-wrapper::before {
    content: "";
    background: url("../images/decor_icon.svg") no-repeat;
    position: absolute;
    z-index: -1;
    width: 528px;
    height: 48px;
}

.article-decor-wrapper-1::before {
    top: 100px;
    left: -350px;
}

.article-decor-wrapper-2::before {
    top: 328px;
    right: -350px;
}

.article-img,
.article-video {
    width: 100%;
}

.article-list {
    margin-top: 0;
    padding-left: 14px;
}

.article-item:not(:last-child) {
    margin-bottom: 12px;
}

.article-item::marker {
    color: #3596ED;
    font-size: 22px;
}

.article-play-button {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    padding: 0;
    background-color: #3596ED;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}