
table {
   border-collapse: collapse;
   font-family: sans-serif;
}

td, th {
   border: 1px solid black;
   padding: 2px 4px;
}

caption {
    border: 1px solid black;
    border-bottom: none;
    font-weight: 600;
    font-size: 1.2em;
}

.weekend {
    color: red;
}