.article__container {
    padding-top: 80px;
    padding-bottom: 120px;
}

.article__title--medium {
    font-size: 36px;
}

.article__text {
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #535755;
}

.article__text:last-child {
    margin-bottom: 0;
}

.article__section {
    margin-bottom: 80px;
}

.article__decor-wrapper {
    position: relative;
}

.article__decor-wrapper-1::before {
    top: 100px;
    left: 0;
}

.article__decor-wrapper-2 {
    margin-bottom: 40px;
}

.article__decor-wrapper-2::before {
    top: 328px;
    right: 0;
}

.article__img,
.article__video {
    width: 100%;
}

.article__list {
    margin-top: 0;
    padding-left: 14px;
}

.article__item:not(:last-child) {
    margin-bottom: 12px;
}

.article__item::marker {
    color: #3596ED;
    font-size: 22px;
}

.article__play-button {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    padding: 0;
    background-color: #3596ED;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    transition: opacity 0.2s, background-color 0.2s;
}

.article__play-button:hover {
    background-color: #6ebbff;
}

.article__play-button:not(:disabled):active {
    background-color: #286daa;
}

@media (width <= 992px) {
    .article__decor-wrapper-2::before {
        top: 60%;
    }
}

@media (width <= 768) {
    .article__section {
        margin-bottom: 60px;
    }

    .article__decor-wrapper::before {
        display: none;
    }

    .article__title--medium {
        font-size: 32px;
    }
}

@media (width <= 576px) {
    .article__wrapper {
        padding-top: 60px;
        padding-bottom: 80px;
    }

    .article__title--medium {
        font-size: 28px;
    }

    .article__section {
        margin-bottom: 40px;
    }

    .article__decor-wrapper-2 {
        margin-bottom: 30px;
    }

    .article__play-button {
        width: 50px;
        height: 50px;
    }

    .article__play-button-img {
        width: 18px;
        height: 21px;
    }
}