.footer {
    padding: 60px 0 40px;
    background: linear-gradient(90deg, rgba(73, 169, 255, 0.2) 0%, rgba(252, 124, 217, 0.2) 100%);
    text-align: center;
    margin-top: auto;
}

.footer__top {
    border-bottom: 1px solid #d3cbd9;
    padding-bottom: 40px;
    margin-bottom: 40px;
}

.footer__logo {
    margin-bottom: 40px;
    display: inline-block;
}

.footer__menu-list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 60px;
}

.footer__menu-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #535755;
    transition: color 0.2s;
}

.footer__menu-link:hover {
    color: #3596ED;
}

.footer__copyright {
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.04em;
    color: #858e8a;
}

@media (width <= 760px) {
    .footer__menu-list {
        gap: 25px;
        flex-direction: column;
    }
}

@media (width <= 576px) {
    .footer {
        padding-top: 40px;
    }
}