.hero {
    position: relative;
    padding-top: 80px;
}

.hero::before {
    width: 100%;
    bottom: 106px;
}

.hero__container {
    display: flex;
    gap: 28px;
}

.hero__title {
    font-family: "Oswald", sans-serif;
    font-weight: 600;
    font-size: 62px;
    line-height: 115%;
    text-transform: uppercase;
    color: #2c332f;
    margin-bottom: 40px;
}

.hero__title-accent {
    color: #3596ed;
}

.hero__info {
    max-width: 492px;
}

.hero__text {
    margin-bottom: 140px;
    max-width: 440px;
}

.hero__images {
    display: flex;
    position: relative;
}

.hero__choose {
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid #535755;
    padding: 22px;
    background: rgba(255, 255, 255, 0.9);
    max-width: 161px;
    text-align: center;
}

.news__container {
    display: flex;
    gap: 28px;
}

.news__article {
    display: flex;
    flex-direction: column;
    max-width: 284px;
    flex: 1 1 25%;
    background-color: #fff;
    border: 1px solid #d3cbd9;
    overflow: hidden;
}

.news__article-img {
    display: block;
}

.news__info {
    padding: 20px 20px 0;
    margin-bottom: 12px;
}

.news__date {
    display: inline-block;
    margin-bottom: 8px;
}

.news__article-footer {
    padding: 0 20px 20px;
    margin-top: auto;
}

.news__link {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #3596ed;
}

.news__link::after {
    display: block;
    content: "";
    width: 22px;
    height: 9px;
    background: url(../images/arrow-right-icon.svg);
    transition: transform 0.2s;
}

.news__link:hover::after {
    transform: translateX(5px);
}

.faq {
    position: relative;
}

.faq::before {
    top: 215px;
}

.faq__container {
    display: flex;
    align-items: flex-start;
    gap: 28px;
}

.faq__details {
    margin-bottom: 20px;
    border-block: 1px solid #d3cbd9;
}

.faq__details:last-child {
    margin-bottom: 0;
}

.faq__details[open] summary::after {
    transform: rotate(180deg);
}

.faq__summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: 10px;
    padding: 20px;
    cursor: pointer;
}

.faq__summary::after {
    display: inline-block;
    content: "";
    flex-shrink: 0;
    width: 17px;
    height: 22px;
    background: url("../images/arrow-down-icon.svg") no-repeat center / cover;
}

.faq__summary::-webkit-details-marker {
    list-style: none;
}

.faq__description-text {
    padding: 0 20px 20px;
}

@media (width <= 1440px) {
    .hero__image {
        width: 50%;
    }
}

@media (width <= 992px) {
    .hero__container {
        flex-direction: column;
        align-items: center;
    }

    .hero::after {
        display: none;
    }

    .hero__info {
        text-align: center;
    }

    .hero__title {
        font-size: 52px;
        margin-bottom: 30px;
    }

    .hero__text {
        margin-bottom: 30px;
    }

    .news__container {
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }

    .news__article {
        max-width: 350px;
        flex-basis: 50%;
    }

    .news__article-img {
        width: 100%;
    }

    .decor::before {
        display: none;
    }

    .faq__container {
        flex-direction: column-reverse;
        align-items: center;
    }
}

@media (width <= 768px) {
    .hero__title {
        font-size: 50px;
    }

    .news__article {
        max-width: 400px;
        flex-basis: 50%;
    }

    .title-large {
        font-size: 40px;
    }

    .home-page .title-large {
        max-width: inherit;
        margin-bottom: 30px;
        text-align: center;
    }

    .title-medium {
        font-size: 22px;
    }
}

@media (width <= 576px) {
    .hero {
        padding-top: 60px;
    }

    .hero__info {
        max-width: 410px;
    }

    .hero__title {
        font-size: 42px;
    }

    .hero__choose {
        max-width: 125px;
        padding: 10px;
        font-size: 14px;
    }

    .title-large {
        font-size: 34px;
    }

    .title-medium {
        font-size: 18px;
    }
}